.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  color:darkslategray;
  background-image: url("hostalky-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  text-align:center;
  width: 85%;
}

.recipients-style {
  margin: 0 auto;
  width: 30%;
}

.styled-content {
  border: 1px solid #333; /* Border color and width */
  background-color: #f9f9f9; /* Background color */
  padding: 20px; /* Space inside the border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Shadow for a 3D effect */
  max-width: 80vw; /* Maximum width of the content box */
  margin: 20px auto; /* Centering the content */
  font-family: Arial, sans-serif; /* Font style */
  font-size: 18px;
  min-width: 30vw;
}

.styled-content h3 {
  margin-top: 0; 
}

.styled-content p {
  font-size: 16px; /* Font size for paragraphs */
  text-align: left; /* Left align text */
}

/* Styles for placeholders */
textarea::placeholder {
  color: #888; /* Placeholder text color */
  font-style: italic; /* Placeholder text style */
}

/* Styles for greyed out default text in styled-content */
.placeholder {
  color: #888; /* Grey color for placeholder text */
  font-style: italic; /* Italic style for placeholder text */
}